@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
  font-family: 'Rubik', 'Noto Sans TC', sans-serif;
  /*background-color: #222;*/
  /*color: #ddd;*/
  font-size: 16px;
}

/* start header */
.header-logo {
  margin-top: 1.5em;
  margin-left: 2.5em;
}

.header-logo img {
  max-width: 50px;
  opacity: 0.8;
}

.header-logo span.title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  margin-left: 0.5em;
  font-size: 26px;
  position: relative;
  top: 6px;
  color: rgba(0, 0, 0, 0.4);
}
/* end header */

.row {
  margin-top: 50px;
  padding: 0;
  width: 800px;
  position: relative;
  /*left: 100px;*/
  margin: auto;
  text-align: center;
}

select {
  max-width: 100px;
  margin: auto;
}

#display-text {
  line-height: 250%;
}

select#files {
  margin-top: 30px;
  margin-bottom: 30px;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 300px;
  font-size: 20px;
  padding: 10px;
}

#search-btn {
  padding: 0.9em 1.9em;
  margin-right: 7em;
  margin-top: 3em;
}

